*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    color: #343a40;
}
nav {
    display: flex; 
    justify-content: space-between;
    background-color: #f8f9fa;
    text-align: right;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px;
}

.logo {
    size: 1.6em;
    text-decoration: none;
}

nav ul {
    display: flex;
    gap: 20px;
    text-decoration: none;
    list-style-type: none;
    
}
nav ul .home {
    list-style-type: none;
    text-decoration-color: #ff6b6b;
    text-decoration-thickness:3px;
    text-underline-offset: 15px;
}
nav ul .about {
    list-style-type: none;
    text-decoration-color: #32cd32;
    text-decoration-thickness: 3px;
    text-underline-offset: 15px;
}

nav ul .services {
    list-style-type: none;
    text-decoration-color: #8a2be2;
    text-decoration-thickness: 3px;
    text-underline-offset: 15px;

}
nav ul .contact {
    list-style-type: none;
    text-decoration-color: #ffd747;
    text-decoration-thickness: 3px;
    text-underline-offset: 15px;
}

nav ul a:hover{
    text-decoration-color: blue;
    text-decoration-thickness: 3px;
    text-underline-offset: 15px;
    font-weight: bold;
}
    
.cta-container {
    background-color: #e9ecef;
    text-align: center;
    padding: 110px 110px;
}

.cta-container h1 {
    font-size: 2.2em;
    margin-bottom: 20px;
}

.cta-container p {
    font-size: 1.2em;
    font-weight: bold;
    max-width: 550px;
    margin: auto;
}

.services-container {
    display:flex;
    justify-content: space-around;
    background-color:#f1f3f5;
    padding: 34px 34px;
    text-align: center;
}
.services-item {
    width: 30%;
}



