nav {
    display: flex; 
    justify-content: space-between;

}

ul {
    display: flex;
    gap: 8px;
    text-decoration: none;
    list-style: none;
    
}

cta-container {
    background-color: #e9ecef;
    display: flex;
    margin-top: 110px;
    align-items: center;
    
}

cta-container p {
    font-size: 1.2em;
    font-style: italic;
}